{% extends 'eapp/base.html' %}
{% block title %} WildFire: Home {% endblock %}
{% block content %}
   <div class="row">
       {% for event in events %}
       <div class="col-sm-4">
           <div class="panel panel-default" style="background-color: lightblue; margin:10px;">
               <div class="row">
                   <div class="col-sm-5">
                       <a href="{% url 'eapp:details' event.id %}">
                           <img src="{{event.banner.url}}" style="height:150px; width: 250px; margin:10px" class="img img-thumbnail">
                       </a>
                   </div>
                   <div class="col-sm-7">
                       <h4 style="font-family: Pacifico">{{event.name}}</h4>
                       <h4 style="font-family: Lora">{{event.date}} {{event.time}}</h4>
                   </div>
               </div>
           </div>
       </div>
       {% endfor %}
   </div>
{% endblock %}